body{
    margin: 0;
}
.container{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 5% 31% 31%  31%;
    grid-template-rows: 15% 6% auto 15% ; 
    height: 100vh;
    row-gap: 1px;
}

.container div{
    background-color: aqua;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
}

#item1{
    grid-row-start: 1 ; 
    grid-row-end: 5;
    background-color: #5213A3;
}

#item2{
    grid-column-start: 2;
    grid-column-end: 5;
}

#item3{
    width: 65%;
    justify-self: center;
    background-color: #420389;
    border-radius: 20px 20px 0px 0px ;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 19px;
    
}

#item4{
    width: 65%;
    justify-self: center;
    background-color: #420389;
    border-radius: 20px 20px 0px 0px ;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 19px;
    
    
}

#item5{
    width: 65%;
    justify-self: center;
    background-color: #420389;
    border-radius: 20px 20px 0px 0px ;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 19px;
}

#item6{
    width: 65%;
    padding: 10px;
    justify-self: center;
    background-color: #001049;
    border-radius: 0px 0px 20px 20px ;
    font-size: 16px;
    
}

#item7{
    padding: 10px;
    width: 65%;
    justify-self: center;
    background-color: #001049;
    border-radius: 0px 0px 20px 20px ;
    font-size: 16px;
 
    
}

#item8{
    padding: 10px;
    width: 65%;
    justify-self: center;
    background-color: #001049;
    border-radius: 0px 0px 20px 20px ;
    font-size: 16px;
  
    
}

#item9{
    grid-column-start: 2;
    grid-column-end: 5;
}

#item2,
#item9 {
    visibility: hidden;
}



