@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    background-color: black;
    color: white;
}
.menu{
    position: relative;
    background-color: #202020;
    height: 500px;
    width: 70px;
    list-style-type: none;
    box-shadow: #590969;
}
/*css do menu*/
.navbar-brand{
    font-family: 'Poppins', sans-serif;
    background-color: #590969;
    font-size: 17px;
    padding: 10px 7px;
    margin: 0px;
    margin-left: 5px;
    color:#FFFF;
    display: block;
}
.menu li a{
    text-decoration: none;
    background-color: #590969;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color:#FFFF;
    margin: 0px;
    display: block;
}
.nav :hover{
    width: 300px;
}
.menu li a:hover{
    background-color:#8f3caf;
}

.menu li a:hover >ul,
    ul li:hover {
    visibility: visible;
}