@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
    color: white;
}

body{
    height: 100vh;
    background-image: url(space-background-with-starfield-free-download-thumb45\ 1.png);
    background-size: cover;
    background-color: rgba(0, 9, 44, 1); /* Cor para solidificar a imagem que esta transparente*/
    overflow:hidden;
}

.corpo{
    width: 70%;
    height: 85%;
    margin-top: 50px;
    margin-left: 240px;
    position: absolute; 
    background-color: rgba(0, 9, 44, 1);
    border-radius: 3%;
}

/*PERFIL*/

#perfil{
    width:100%;
    height: 90px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

#infos{
    position: absolute;
    left: 200px;
}

ul{
    list-style-type: none;
}

/*FOTO CAPA*/

#ft-capa{
    width:100%;
    height: 60px;
}

/*FOTO PERFIL*/

#foto{
    border: solid #5213A3;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: 70px;
    position: absolute;
    top: 19px;

}

/*EDITAR PERFIL*/

#editar{
    position: fixed;  
    top: 120px;       
    left: 900px;  
}

#img-user{
    width: 20px;
    height: 20px;
}

#img-projetos{
    width: 20px;
    height: 20px;
}

.botao {
    background-color: transparent; 
    color: white; 
    border: none; 
    padding: 5px 12px; 
    border-radius: 30px; 
    cursor: pointer; 
    font-size: 20px;
       
}

.icone {
    margin-right: 5px; 
}

.botao:hover {
    background-color: #dcd7e4;
    color: #5213A3;
}


/*BTN PROJETOS E SALVOS*/
#projetos-salvos{
    padding-left: 80px;
    border-bottom: 2px solid white;
}

#projetos-salvos button{
    border-radius: 10px 10px 0px 0px;
}



/* MODAL */
#edit-modal {
    display: none;
    /*position: fixed;
    top: 15px; 
    left: 0;
    position: absolute;*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: none;
}

input {
    width: 100%;
    border-radius: 30px;
    border: none; 
    height: 25px;
    margin-bottom: 20px;
    color:black;
    padding: 5px;
}

textarea{
    width: 100%;
    border-radius: 30px;
    border: none; 
    color:black;
    padding: 5px;
}


#cover-photo-file, #profile-photo-file, #foto-projeto {
    display: inline-block;
    background: white;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#edit-modal .botao{
    width: 100%;
}

#edit-modal input, h2{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.edit-modal-content {
    background-color:#5213A3;
    width: 80%;
    max-width: 600px;
    max-height: 800px;
    margin: 5px auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.modal{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgb(0, 0, 0, .5);
    display:flex;
}   

/*MODAL PROJETOS*/
#add-projetos{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

/*HOVER LINK PROJETOS*/


.centro-div {
    transition: 0.3s;
    width: 65%;
    height: 65%;
    transition: background-color 0.3s;

}

.centro-div:hover::before {
    content: "";
    position: absolute;
    top: 245px;
    right: 160px;
    bottom: 35px;
    left: 170px;
    background: rgba(5, 5, 5, 0.541); 
    border-radius: 20px;
}

.botao-no-centro {
    display: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(5, 5, 5); 
    border: none; 
    padding: 5px 12px; 
    border-radius: 30px; 
    cursor: pointer; 
    font-size: 20px;
}

.centro-div:hover .botao-no-centro {
    display: block;
    color: black; 
}

/*PROJETOS*/


#projetos{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    margin-left: 18%;
    
}

#overlay{
    width: 65%;
    height: 15%;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    background-color: #5213A3;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid white;
}

#style-aux{
    width: 65%;
    height: 15%;
    background-color: #5213A3;
    border-radius: 0px 0px 10px 10px;
    border-top: 2px solid white;

}

#container{
    width: 65%;
    height: 65%;
    display: flex;
    flex-direction: row;
}



 #campo-descricao {
    width: 50%; 
    height: 100%; 
    background-color:#5213A3;
    margin-left: 0%;
    padding: 20px;
    text-align: center;
}

#campo-img{
    background-color: #5213A3;
    width: 50%; 
    height: 100%;
       
}

#img{
    width: 100%;
    height: 100%;
    align-items: center;
}

#div-adc-projetos{ 
    display: flex;  
    justify-content:flex-end;
    margin-right: 140px;
    margin-top:10px;
    margin-bottom: 10px;
 }

 #nome{
    background-color: transparent; 
    color: white; 
    border: none; 
    padding: 5px 12px; 
    border-radius: 30px; 
    cursor: pointer; 
    font-size: 20px;
    
}

#botao-saber-mais{
    background-color: transparent; 
    color: white; 
    border: none; 
    padding: 5px 12px; 
    border-radius: 30px; 
    cursor: pointer; 
    font-size: 20px; 
}


/*Menu lateral*/
#item1{
    grid-row-start: 1 ; 
    grid-row-end: 5;
}

#side-bar{
    width: 50px;
    height: 100%;
    background-color: #420389;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
    z-index: 2;
}

#side-bar:hover{
    width: 300px;
}

ul{
    height: 100%;
    list-style: none;
}
ul li.pag-menu{
    transition: .2s;
}
ul li.pag-menu:hover{
    background-color: #7506BF;
}
ul li.pag-menu a{
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 4%;
    display: flex;
    line-height: 25px;
}
ul li.pag-menu a .icon > img{
    margin-left: 4px;
}

ul li.pag-menu a .txt-link{
    margin-left: 40px;
}

