@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
    color: white;
}

body{
    height: 100vh;
    background-image: url(space-background-with-starfield-free-download-thumb45\ 1.png);
    background-size: cover;
    background-color: rgba(0, 9, 44, 1); /* Cor para solidificar a imagem que esta transparente*/
}
    
.corpo{
    width: 70%;
    height: 85%;
    margin-top: 50px;
    margin-left: 220px;
    position: absolute; 
    background-color: rgba(0, 9, 44, 1);
    overflow: auto;
    border-radius: 3%;
    
}

/*PERFIL*/

#perfil{
    width:100%;
    height: 90px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

#infos{
    position: absolute;
    left: 200px;
}

ul{
    list-style-type: none;
}

/*FOTO CAPA*/

#ft-capa{
    width:100%;
    height: 60px;
}

/*FOTO PERFIL*/

#foto{
    border: solid #5213A3;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: 70px;
    position: absolute;
    top: 19px;

}

/*EDITAR PERFIL*/

#editar{
    position: absolute;
    left: 700px;
}

#img-user{
    width: 20px;
    height: 20px;
}

.botao {
    background-color: transparent; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 18px;
    
    
}

.icone {
    margin-right: 5px; 
}

.botao:hover {
    background-color: #5213A3;
}
</style>

/*BTN PROJETOS E SALVOS*/
#projetos-salvos{
    margin-left: 80px;
}
#projetos-salvos button{
    color: black;
    width: 100px;
    height: 20px;
}


/* styleperfil.css */
#edit-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#edit-modal-content {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/*PROJETOS*/

#projetos{
    border-top: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 65%; 
}


#retangulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 700px;
    background-color: #5213A3;
    /* padding: 0 10px; */ 
    border-radius: 10px 10px 0 0;
    margin-top: -200px; 
    
}

#button-ver{
    margin-right: 8%;
    margin-top: -2px;
    align-items: center;  
    
}

#style-botao{
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 6px; 
}

#conteudo{
    border-top: 2px solid white;
    background-color: #5213A3;
    align-items: center; 
    width: 700px;
    display: flex;
    justify-content: center;  
    height: 200px;  
    margin-left: 13.4%;
    margin-top: -253px;
    
}