@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
    color: white;
    font-weight: bold;
}

body{
    height: 100vh;
    background-image: url(space-background-with-starfield-free-download-thumb45\ 1.png);
    background-size: cover;
    background-color: rgba(0, 9, 44, 1); /* Cor para solidificar a imagem que esta transparente*/
}
    
.corpo{
    width: 70%;
    height: 85%;
    margin-top: 50px;
    margin-left: 220px;
    position: absolute; 
    background-color: rgba(0, 9, 44, 1);
    overflow: auto;
    border-radius: 3%;
    
}

/*PERFIL*/

#perfil{
    width:100%;
    height: 90px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

#infos{
    position: absolute;
    left: 200px;
}

ul{
    list-style-type: none;
}

/*FOTO CAPA*/

#ft-capa{
    width:100%;
    height: 60px;
}

/*FOTO PERFIL*/

#foto{
    border: solid #5213A3;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: 70px;
    position: absolute;
    top: 19px;

}

/*EDITAR PERFIL*/

#editar{
    position: absolute;
    left: 700px;
}

#img-user{
    width: 20px;
    height: 20px;
}

.botao {
    background-color: transparent; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 20px;
    
    
    
}

.icone {
    margin-right: 5px; 
}

.botao:hover {
    background-color: #dcd7e4;
    color: #5213A3;
}


/*BTN PROJETOS E SALVOS*/
#projetos-salvos{
    margin-left: 80px;
}

#projetos-salvos button{
    border-radius: 10px 10px 0px 0px;
}



/* MODAL */
#edit-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#edit-modal-content {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/*PROJETOS*/


#projetos{
    border-top: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    box-sizing: border-box;
    overflow: auto;

}

#campo-descricao {
    width: 35%; 
    height: 35%; 
    background-color:#5213A3;
    position: relative;
    margin-bottom: 18%;
    
    
    
}

#campo-img{
    background-color: #5213A3;
    width: 35%; 
    height: 35%;
    margin-bottom: 18%;
    margin-left: 0%;
    
    
    
}

#img{
    width: 100%;
    height: 100%;
    align-items: center;
}

#overlay {
    position: absolute; 
    width: 70%;
    height: 8%; 
    background-color:#5213A3; 
    display: flex;
    align-items: center;
    margin-bottom: 43.5%;
    margin-left: 0%;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 2px solid white;
}

#nome{
    margin-right: 20%;
    
    
    padding-left: 10px;
}
    
#botao-saiba-mais{
    cursor: pointer;
    margin-left: 70%;
    
    
    
}

#botao-style{
    color: #000000;
    border: none;
    padding: 2px 8px;
    background-color: overlay violet;
    font-size: 18px;
    border-radius: 10px;
    background-color: #9370DB;

    
}

#div-style{
    background-color: #5213A3;
    width: 70%;
    height: 8%;
    margin-top: -262px;
    margin-left: 15%;
    border-radius: 0 0 10px 10px;
    border-top: 2px solid white;
    
}

#div-adc-projetos{ 
    margin-top: -325px;
    margin-left: 87%;
    width:auto;
    height: 10px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    
}

#adicionar-projetos {
    width: 29px; 
    height: 29px; 
    background-color: transparent;
    background-image: url('adcprojeto.png');
    background-size: 100%;
    border: none; 
    cursor: pointer;
    margin-right: 10px;
    padding-left: 30px;
      
}
    


/*Menu lateral*/
#item1{
    grid-row-start: 1 ; 
    grid-row-end: 5;
}

#side-bar{
    width: 50px;
    height: 100%;
    background-color: #420389;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
    z-index: 2;
}

#side-bar:hover{
    width: 300px;
}

ul{
    height: 100%;
    list-style: none;
}
ul li.pag-menu{
    transition: .2s;
}
ul li.pag-menu:hover{
    background-color: #7506BF;
}
ul li.pag-menu a{
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 4%;
    display: flex;
    line-height: 25px;
}
ul li.pag-menu a .icon > img{
    margin-left: 4px;
}

ul li.pag-menu a .txt-link{
    margin-left: 40px;
}

