@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    font-family: "Lato";
}
#division{
    display: flex;
}
#ladinho{
    background-color: #010326;
    text-align: right;
    color: white;
    width: 379px;
}
.buttons{
    color: white;
    text-decoration: none;
    padding: 30px;
    margin-top:50px;
    margin-bottom: 50px;
}
.buttons:hover{
    background-color: white;
    color: #010326;
    border-radius: 98px 0 0 98px;
}
#divlogin{
    align-items: center;
    text-align: center;
    display: flex;
}
.formlc{
    width: 300px;
    height: 500px;
    margin: 100px 200px 200px 200px;
}
.inputinhos{
    padding: 20px;
    padding-bottom: 10px;
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 17px;
}
#loginbutton{
    background-color: #010326;
    color: white;
    width: 200px;
    height: 40px;
    margin: 20px;
    border-radius: 98px;
    font-size: 17px;
}
#forgetpassword{
    color: #010326;
    font-size: 17px;
    text-decoration: none;
}